.vs/Seminar/FileContentIndex/ecef95fd-1139-4cf5-be39-5e19b4a8e04d.vsidx
bin/Debug/net9.0/SeminarMvcApp.dll
bin/Debug/net9.0/SeminarMvcApp.exe
bin/Debug/net9.0/SeminarMvcApp.pdb
obj/Debug/net9.0/ref/SeminarMvcApp.dll
obj/Debug/net9.0/refint/SeminarMvcApp.dll
obj/Debug/net9.0/SeminarMvcApp.dll
obj/Debug/net9.0/SeminarMvcApp.pdb
.vs/Seminar/FileContentIndex/d5c747b7-1e16-4bcb-8ef0-06316f561c24.vsidx
*.dll
*.exe
*.vsidx
*.pdb
